<div id="login" class="login">
  <div>
    <div class="form">
      <form (ngSubmit)="login()">
        <label>Name:</label>
        <input type="text" name="login_name" [(ngModel)]="login_username" required placeholder="Fullname">
        <label>Password:</label>
        <input type="password" name="login_password" [(ngModel)]="login_password" required placeholder="Password">
        <div>
          <label><input type="checkbox"> Remember me</label>
        </div>
        <input type="submit">
      </form>
      <p>No account ? <a style="cursor: pointer"> Create one!</a></p>
    </div>

  </div>
</div>
