<div>
  <!--<h1 style="color: red">{{ vm.name }}</h1>-->
  <article id="">
    <section *ngFor="let game of data; trackBy:index">
      <div style="background:url('{{game['stock_img']}}'); background-size:cover;" class="show-description">
        <p><a>{{game['stock_name']}}</a> <span class="price">{{game['price']}}</span><br/>
          <small>Combining pungent mustard and living section sliced ​​beef , arugula salad and fresh broccoli
            sprouts mixed with candied ginger , shallots
          </small>
        </p>
      </div>
      <button style="width: 120px" data-loading-btn class="btn" (click)="purchaseGame(game)">Order Now!</button>
    </section>
  </article>
  <footer></footer>
</div>
